*{

    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family:monospace, consolas, 'Courier New pro', Courier;
}

body{
    background-color: rgb(34, 34, 34);
}

.header{

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: rgb(255, 68, 0);
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 25px;
    color: wheat;
    text-decoration: none;
    font-weight: bolder;
    font-family: 'La Machine Company', monospace, consolas, 'Courier New pro', Courier;
}

.navbar a{
    font-size: 18px;
    color: bisque;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    position: relative;
}

.navbar a::after{
    content: "";
    width: 0;
    height: 3px;
    background: #ffffff;
    position: absolute;
    left: 0;
    bottom: -6;
    transition: 0.5s;
}

.navbar a:hover::after{
    width: 100%;
}