
.navBar{
    background-color: rgb(61, 58, 58);
    padding: 0 20px 0 20px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
ul{
    list-style-type: none;
}

.menuList{
    display: flex;
}
.logoImg{
    height: 60px;
    width: 90px;
}


.introduce{
    background-color: rgb(32, 31, 31);
}